@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


* {
	font-family: 'Exo 2', sans-serif;
	font-style: italic;
	text-transform: uppercase;
	margin: 0; padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	background: #f7f7f7;
}

header{
	width:100%;
	position: fixed;
	top: 0; left: 0;
	display:flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	padding: 3rem;
}

.logo img{
	height: 7rem;
}

nav ul{
	list-style: none;
	display: flex;
	align-items:center;
	justify-content: space-around;
}

nav ul li{
	margin:0 3.6rem;
}

nav ul li a{
	font-size: 2rem;
	text-decoration: none;
	color: black;
}

a:hover{
	color: #407BFF;
}

.container{
	height: 100vh;
	width: 100vw;
	background: url(wave1.svg) no-repeat;
	display: flex;
	background-size: 100% 30rem;
	background-position: bottom;
	align-items: center;
	justify-content: space-around;
}

.image{
	margin-top: -5rem;
}

.container .image img{
	width: 50vw;
	height: 50vh;
}

.content{
	width: 45vw;
	height: 50vh;
	animation: animate 1s ease 1;
}

.content h1 {
	font-size: 5rem;
	color: black;

}
.content h3{
	font-size: 2.3rem;
	margin: 1rem 0;
	color: #407BFF;
}

.content p{
	font-size: 1.3rem;
	color: black;
}

.btn button {
	height: 4rem;
	width: 14rem;
	color: black;
	background: #407BFF;
	border-radius: 6rem;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	border: none;
}

.btn button:hover{
	background: black;
	color: #407BFF;
}

.btn a:nth-child(2) button{
	margin-left: 3rem;

}

.content .icons{
	width: 15rem;
	display: flex;
	justify-content: space-between;
}

.content .icons a{
	text-decoration: none;
	color: black;
	font-size: 3rem;
}

.content .icons a:hover{
	color: #407BFF;
}

@keyframes animate{
	0%{
		transform: translateY(5rem);
	}
	100%{
		transform: translateY(0rem);
	}
}